<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <title>Chat Us</title>
    <style>
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="content">
    <h1>KB 직원들을 위한 기업금융 실시간 질의응답</h1>
    <p>기본 페이지입니다.</p>
</div>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>